.cart-widget {
    color: white;
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out all;
    position: relative;
}

.cart-widget-active {
    visibility: visible;
    opacity: 1;
    position: relative;
}


.span {
    position: absolute;
    top: 18px;
    right: -2px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
  }